* {
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0px;
  background-color: white;
  font-family: 'Avenir', 'Open Sans', sans-serif; }

img {
  width: 100%; }

#main-container {
  width: 100%;
  height: 100%; }

.row {
  margin: 0px; }

.cover-container {
  text-align: center;
  background-color: #191f2d;
  height: 100vh;
  padding: 20px; }

.logo-center {
  padding-top: 270px;
  margin: 0 auto;
  width: 100px; }

.intro-text {
  padding-top: 20px;
  margin: 0 auto;
  color: #c1c1c1; }

.navbar-nav {
  text-align: center; }

.col-xs-12 {
  padding: 0px; }

.navbar-toggle {
  float: left;
  margin: 10px; }

.navbar {
  background-color: #191f2d;
  border-color: white; }

.navbar-inverse .navbar-collapse {
  border-color: white; }

.content {
  margin-top: 100px; }

.content-title {
  text-align: center;
  width: 100%;
  color: #191f2d; }

#webdesign {
  position: relative; }

a:hover {
  color: #2d2d2d; }

.footer {
  margin-top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #191f2d;
  text-align: center;
  font-size: 10px;
  color: #c1c1c1; }

.content-button {
  width: 100px;
  margin: 0 auto;
  position: absolute; }

.draw-border {
  box-shadow: inset 0 0 0 4px #191f2d;
  color: #191f2d;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: white; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: white;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  letter-spacing: 0.05rem; }
  .button:focus {
    outline: 2px dotted #55d7dc; }
