* {
  text-decoration: none;
  padding: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0px;
  background-color: white;
  font-family: 'Avenir', 'Open Sans', sans-serif; }

img {
  width: 100%; }

#main-container {
  width: 100%;
  height: 100%; }

.row {
  margin: 0px; }

.cover-container {
  text-align: center;
  background-color: #191f2d;
  height: 100vh;
  padding: 20px; }

.logo-center {
  padding-top: 240px;
  margin: 0 auto;
  width: 100px; }

.intro-text {
  padding-top: 20px;
  margin: 0 auto;
  color: #c1c1c1; }

.navbar-nav {
  text-align: center;
  -webkit-transition: 1s; }

.col-noPadding {
  padding-right: 0px;
  padding-left: 0px; }

.navbar-toggle {
  float: left;
  margin: 10px; }

.navbar {
  background-color: #191f2d;
  border-color: white; }

.navbar-inverse .navbar-collapse {
  border-color: white; }

.content {
  margin-top: 100px; }

.content-title {
  text-align: center;
  width: 100%;
  color: #191f2d; }

#webdesign {
  position: relative; }

a:hover {
  color: #2d2d2d;
  text-decoration: none; }

.footer {
  height: 60px;
  margin-top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5rem;
  background-color: #191f2d;
  text-align: center;
  font-size: 10px;
  color: #424242; }

.footer-text:hover {
  color: #c1c1c1;
  -webkit-transition: color 1s; }

.svg-wrapper {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 320px; }

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 3px;
  fill: transparent;
  stroke: #191f2d;
  border-bottom: 2px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s; }

.shape-photography {
  stroke-dasharray: 286 540;
  stroke-dashoffset: -403; }

.content-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 32px;
  color: #191f2d;
  top: -48px;
  position: relative; }

.svg-wrapper:hover .shape {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760; }

.title-container {
  margin-top: 120px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px; }

.titles {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #191f2d; }

.content-container {
  max-width: 1170px;
  padding-right: 40px;
  padding-left: 40px; }

.noTop {
  top: 0px; }

.blurb {
  padding-bottom: 10px; }

.text-container {
  margin-top: 50px; }

.swiper-container {
  width: 100%;
  min-height: 230px; }

.swiper-button-next {
  background-size: 20px;
  margin-right: 20px; }

.swiper-button-prev {
  background-size: 20px;
  margin-left: 20px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.Bang-Image {
  margin-top: 20%;
  margin-bottom: 25%; }

#webdesign {
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d; }

#graphic {
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d; }

#photography {
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d; }

/*# sourceMappingURL=custom.css.map */
