*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;
}
// SASS Variables

$max : 100%;

//------------------------------------//

body{
	width: $max;
	margin: 0px;
	background-color: white;
	font-family: 'Avenir', 'Open Sans', sans-serif;
}
img{
	width: 100%;
}

#main-container{
	width: $max;
	height: $max;
}

.row{ //Deletes margin thats on the row
	margin: 0px;
}

//---------- COVER ----------//


.cover-container{
	text-align: center;
	background-color: #191f2d;
	height: 100vh;
	padding: 20px;
}

.logo-center{
	padding-top: 270px;
	margin: 0 auto;
	width: 100px;

}

.intro-text{
	padding-top: 20px;
	margin: 0 auto;
	color: #c1c1c1;
	
}

//---------- BOOTSTRAP Overide ----------//

.navbar-nav{
	text-align: center;
}
.col-xs-12{
	padding: 0px;
}

.navbar-toggle{
	float: left;
	margin: 10px;
}

.navbar{
	background-color: #191f2d;
	border-color: white;
}

.navbar-inverse .navbar-collapse{
	border-color: white;
}

//---------- CONTENT ----------//

.content{
	margin-top: 100px;
}


.content-title{
	text-align: center;
	width: $max;
	color: #191f2d;
}

#webdesign{
	position: relative;
}

a:hover{
	color: #2d2d2d;
}

// ----------Footer---------- //

.footer {
	margin-top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #191f2d;
	text-align: center;
	font-size: 10px;
	color: #c1c1c1;
}

// ----------Button---------- //
.content-button{
	width: 100px;
	margin: 0 auto;
	position: absolute;
}

// --------------Button Hover---------------//

.svg-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
}
.shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #191f2d;
	border-bottom: 2px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
	text-align: center;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: black;
	top: -48px;
	position: relative;
}
.svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}
