*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;
}
// SASS Variables

$max : 100%;
$navy-color: #191f2d;

//------------------------------------//

body{
	width: $max;
	margin: 0px;
	background-color: white;
	font-family: 'Avenir', 'Open Sans', sans-serif;
}
img{
	width: 100%;
}

#main-container{
	width: $max;
	height: $max;
}

.row{ //Deletes margin thats on the row
	margin: 0px;
}

//---------- COVER ----------//


.cover-container{
	text-align: center;
	background-color: $navy-color;
	height: 100vh;
	padding: 20px;
}

.logo-center{
	padding-top: 240px;
	margin: 0 auto;
	width: 100px;

}

.intro-text{
	padding-top: 20px;
	margin: 0 auto;
	color: #c1c1c1;
	
}

//---------- BOOTSTRAP Overide ----------//

.navbar-nav{
	text-align: center;
	-webkit-transition: 1s;
}

.col-noPadding{
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-toggle{
	float: left;
	margin: 10px;
}

.navbar{
	background-color: $navy-color;
	border-color: white;
}

.navbar-inverse .navbar-collapse{
	border-color: white;
}

//---------- CONTENT ----------//

.content{
	margin-top: 100px;
}


.content-title{
	text-align: center;
	width: $max;
	color: $navy-color;
}

#webdesign{
	position: relative;
}

a:hover{ //deletes the link line
	color: #2d2d2d;
	text-decoration: none;
}

// ----------Footer---------- //

.footer {
	height: 60px;
	margin-top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2.5rem;
	background-color: $navy-color;
	text-align: center;
	font-size: 10px;
	color: #424242;
}
.footer-text:hover {
	color: #c1c1c1;
	-webkit-transition: color 1s;
}



// --------------Button Hover---------------//

.svg-wrapper {
	position: relative;
	top: 50%;
	margin: 0 auto;
	width: 320px;  
}
.shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 3px;
	fill: transparent;
	stroke: $navy-color;
	border-bottom: 2px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.shape-photography{
	stroke-dasharray: 286 540;
	stroke-dashoffset: -403;
}


.content-title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	line-height: 32px;
	color: $navy-color;
	top: -48px;
	position: relative;
}
.svg-wrapper:hover .shape {
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}


// ----------CONTENT PAGES---------- //

.text-container{
	padding-top: 100px;
	margin-top: 50px;
}

.titles{
	font-size: 20px;
	font-weight: bold;
	color: $navy-color;
}

.content-container{
	max-width: 1170px;
	padding-right: 40px;
	padding-left: 40px;
}

.noTop{
	top: 0px;
}

.blurb{
	padding-bottom: 10px;
}

// ----------CAROUSEL---------- //

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.glyphicon, .glyphicon-chevron-left, .glyphicon-chevron-left{
	color: $navy-color;
}

.carousel-indicators li{
	border: 1px solid $navy-color;
}

